.projects-section {
    padding-top: 3%;
    padding-bottom: 5%;
    background:linear-gradient(to bottom, #000000 0%, rgba(22, 22, 22, .9) 75%, rgba(17, 17, 17, 0.8) 100%);
}

.horizontal-menu::-webkit-scrollbar    {
    display: none;
}

.horizontal-scroll::-webkit-scrollbar    {
    display: none;
}

.project-overlay    {
    position: relative;
    background: url("../img/HS_pic2.JPG");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: 99%;
    min-width: 1000px;
    min-height: 600px;
    transition: .5s ease-in-out;
    border-bottom: solid 0.2rem #64a19d;
    padding-top: 5px;
}

#arrow-right a   {
    background-color: transparent;
}

#arrow-right a span{
    margin-top: 12px;
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
    -webkit-animation: arrow_right 1.5s infinite;
    animation: arrow_right 1.5s infinite;
    /* box-sizing: border-box; */
}

@-webkit-keyframes arrow_right {
  0% {
    -webkit-transform: rotate(225deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(225deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrow_right {
  0% {
    transform: rotate(225deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(225deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#arrow-left a   {
    background-color: transparent;
}

#arrow-left a span{
    margin-top: 12px;
    position: absolute;
    /* bottom: 0; */
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    -webkit-animation: arrow_left 1.5s infinite;
    animation: arrow_left 1.5s infinite;
    /* box-sizing: border-box; */
}


@-webkit-keyframes arrow_left {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrow_left {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


.project-overlay p {
    color: white;
    width: 100%;
}

.titles {
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    border-bottom: solid 0.1rem #ffffff;
}

.duration   {
    font-size: 16px;
    color: rgb(114, 114, 114);
    padding: 0%;
    margin: 0%;
}

div.project-description  {
    font-size: 17px;
    color: rgb(185, 185, 185);
    opacity: 0 !important;
    transition: .5s ease-in-out;
    padding-right: 4px;
    opacity: 1 !important;
    display: block;
}

div.project-description ul   {
    list-style-type: square;
}

div.horizontal-scroll   {
    background-color: transparent;
    overflow: scroll;
    white-space: nowrap;
    transition: .5s ease-in-out;
}

div.horizontal-scroll a  {
    background-color: transparent;
    font-size: 15px;
    display: inline-block;
    border: 0.1rem solid #64a19d;
    text-decoration-color: #64a19d;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.3rem;
    margin-right: 5px;
    transition: .5s ease-in-out;
    overflow: scroll;
}

div.horizontal-menu {
    overflow: scroll;
    white-space: nowrap;
}

div.horizontal-menu .sections   {
    display: inline-block;
}

.repo-button    {
    background-color: transparent;
    font-size: 15px;
    display: block;
    border: 0.1rem solid #64a19d;
    color: #64a19d;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.3rem;
    margin-top: 10px;
    font-weight: bold;
    transition: .5s ease-in-out;
    float: right;
    opacity: 1;
}

div.horizontal-menu .arrow {
    position: relative;
    width: 10px !important;
    min-height: 600px;
    margin: 0px 0px 0px 0px;
}

.arrow-logo {
    content: "\2192";
    font-size: large;
}