.skill-section {
    padding-top: 4.5%;
    background-image:  linear-gradient(to bottom,#000000 0%, rgba(22, 22, 22, .9) 75%, rgba(17, 17, 17, 0.8) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
    padding-bottom: 3%;
    /* display: none; */
}

.skill-section .name    {
    font-size: 2rem;
}

.wrapper    {
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    display: inline-block;
}