.projects-section {
    padding-top: 7%;
    padding-bottom: 7%;
    background: url("../images/project_section.webp");
    background-color: rgba(17, 17, 17, 0.582);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info-links {
    display: flex;
}

.project-head {
    margin-top: auto;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: auto;
}

.duration   {
    font-size: 1rem;
    color: rgb(184, 184, 184);
    margin: auto;
    margin-right: 0;
    margin-bottom: 5px;
}

.description  {
    color: rgb(185, 185, 185);
    opacity: 0 !important;
    transition: .5s ease-in-out;
    opacity: 1 !important;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-left: 10px;
}

.project-description {
    overflow: hidden;
    transition: height 0.5s;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-family: Gotham,
    Helvetica,
    Arial,
    sans-serif;
}

.minimize {
    height: 0px;
}

.covid_tracker {
    height: 340px;
}

.home_security {
    height: 630px;
}

.personal_v1 {
    height: 370px;
}

.tic_tac_toe {
    height: 370px;
}

.baccarat_game {
    height: 330px;
}

div.description ul   {
    list-style-type: square;
}

div.description ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.horizontal-scroll   {
    background-color: transparent;
    overflow: scroll;
    white-space: nowrap;
    transition: .5s ease-in-out;
}

.horizontal-scroll a,
.horizontal-scroll span {
    background-color: transparent;
    display: inline-block;
    border: 0.1rem solid #64a19d;
    text-decoration-color: #64a19d;
    color: #64a19d;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.3rem;
    margin-right: 7.5px;
    transition: .5s ease-in-out;
    overflow: scroll;
}

.horizontal-scroll .skilluse {
    border: 0.1rem solid #9da164 !important;
    text-decoration-color: #9da164 !important;
    color: #9da164 !important;
}

.horizontal-scroll .linkuse {
    border: 0.1rem solid #92624a !important;
    text-decoration-color: #92624a !important;
    color: #92624a !important;
}

.horizontal-scroll::-webkit-scrollbar    {
    display: none;
}

.projects-section .each {
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.75);
    margin-bottom: 10px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.projects-section .each-area {
    cursor: pointer;
    border-radius: 4px;
}

.projects-section .each-area:hover {
    background-color: rgba(0, 0, 0, 0.322);
}

.projects-section .each:hover {
    transform: translate(0px, -2.5px);
}

.webapp {
    background-image: url("../images/webapp.webp");
}

.security {
    background-image: url("../images/shield.webp");
}

.game {
    background-image: url("../images/game.webp");
}

.folder {
    background-image: url("../images/folder.webp");
}

.web {
    background-image: url("../images/web.webp");
}

.projects-section .each .weblinks {
    color: white;
    font-size: 35px;
    margin-right: 10px;
}

.external {
    background-image: url("../images/external.webp");
}

.paper {
    background-image: url("../images/paper.webp");
}

.projects-section .each .project-head {
    font-size: 1.25rem;
    color: rgba(255, 255, 255);
    text-transform: capitalize;
}

.subhead {
    font-size: inherit;
}

@media (max-width: 1100px) {
    .projects-section .each .project-head {
        font-size: 1.4rem;
    }

    .projects-section .each {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media (max-width: 1000px) {
    .projects-section .each .project-head {
        font-size: 1.3rem;
    }

    .projects-section .each {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    .projects-section .each .weblinks {font-size: 25px;}
}

@media (max-width: 991px) {
    .covid_tracker {
        height: 365px;
    }

    .home_security {
        height: 740px;
    }

    .personal_v1 {
        height: 370px;
    }

    .tic_tac_toe {
        height: 420px;
    }

    .baccarat_game {
        height: 350px;
    }
}

@media (max-width: 800px) {
    .projects-section .each .project-head {
        font-size: 1.2rem;
    }

    .duration {
        display: none;
        margin: 0;
    }

    .projects-section .each {
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    
    .projects-section .img {
        display: none;
        margin: 0;
    }

    .projects-section .wrapper {
        margin-right: auto;
        margin-left: auto;
        padding-top: 0.2rem;
    }

    .info-links {
        flex-direction: row-reverse;
    }

    .description {
        padding-top: 1px;
        padding-left: 5px;
        padding-left: 5px;
    }

    .subhead {
        font-size: inherit;
    }

    .project-description {
        padding-inline-start: 0.2rem;
        padding-inline-end: 0.8rem;
    }

    div.description ul {
        padding-inline-start: 20px;
    }

    .covid_tracker {
        height: 330px;
    }

    .home_security {
        height: 680px;
    }

    .personal_v1 {
        height: 340px;
    }

    .tic_tac_toe {
        height: 360px;
    }

    .baccarat_game {
        height: 320px;
    }
}

@media (max-width: 765px){
    .covid_tracker {
        height: 370px;
    }

    .tic_tac_toe {
        height: 390px;
    }

    .personal_v1 {
        height: 370px;
    }
}
 
@media (max-width: 550px) {
    .projects-section .each .project-head {
        font-size: 1.15rem;
        margin-right: 0;
    }

    .projects-section .each {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-right: 0;
        margin-left: 0;
        
    }

    .projects-section .each + div {
        padding-left: 0;
        padding-right: 0;
    }

    .projects-section .img {
        display: none;
        margin: 0;
    }

    .weblinks {font-size: 20px;}

    .subhead {
        font-size: inherit;
    }

    .home_security {
        height: 610px;
    }

    .covid_tracker {
        height: 300px;
    }

    .personal_v1 {
        height: 300px;
    }

    .tic_tac_toe {
        height: 370px;
    }

    .baccarat_game {
        height: 300px;
    }

}

@media (max-width: 440px) {
    .projects-section .each .project-head {
        font-size: 1.0rem;
    }

    .duration {
        display: none;
        margin: 0;
    }

    .covid_tracker {
        height: 340px;
    }

    .personal_v1 {
        height: 370px;
    }
}

@media (max-width: 350px) {
    .projects-section .each .project-head {
        font-size: 0.9rem;
    }

    .duration {
        display: none;
        margin: 0;
    }

    .subhead {
        font-size: inherit;
    }

    .home_security {
        height: 640px;
    }
}