html    {
    position: relative;
    min-height: 100%;
}

body   {
    color: black;
    background-color: white;
    margin: 0px 0px 60px 0px;
    font-family: Bitter;
    font-size: 70%;
}

.heading   {
    font-weight: bold;
    color: rgb(0, 2, 99);
}

.column {
    float: left;
    width: 33.33%;
    margin: 0%;
    padding: 2px  0px 2px 0px;
}

.column33   {
    float: left;
    width: 33.33%;
}

.column66 {
    float: left;
    width: 66.66%;
    margin: 0%;
}

div.row:after  {
    content: "";
    display: table;
    clear: both;
    margin: 0%;
    padding: 0%;
}

@media screen and (max-width: 900px)    {
    .column {
        width: 100%;
    }
}

.content_resume {
    margin: 1% 10% 0% 10%;
    padding: 0%;
    align-content: center;
}

img.resume  {
    width: 100%;
    height: 90%;
    border-block-color: 1px solid;
}

a.button:link, a.button:visited {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
    display: inline-block;
    width: 99%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0%;
    text-decoration: none;
    align-content: center;
}

a.button:hover, a.button:visited {
    box-shadow: 0px 1px 1px 0px black;
}

@media only screen and (max-width: 595px) {
    body {
      background-color: lightblue;
    }
}