div.header  {
    background-image: url("../images/header.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    padding: 50px;
    margin-top: 0px;
    background-position-y: -100px;
}

div.header > p {
    padding-top: 15px;
    padding-left: 120px;
    padding-bottom: 15px;
    font-size: 76px;
    letter-spacing: 1.5px;
    font-family: tahoma;
    font-weight: bolder;
    color: white;
}

div.section  {
    color: white;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 0.1px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0%;
}

.footer    {
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 99.3%;
    overflow: hidden;
}

.footer p{
    font-size: 12px;
    margin: 0%;
    text-align: center; 
    padding-bottom: 10px;  
}

.footer a{
    font-size: 15px;
}